html, body {
  width: 100%;
  height:100%;
  margin: 0;
  padding: 0;
  position: relative;
  font-family: Helvetica, Arial, sans-serif;
  background-image: linear-gradient(to bottom, #d7baa3, #fff );
}

header {
  width: 1200px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #535353;
}

header img, h1 {
  padding: 20px;
  float: left;
}

header::after {
  content: ' ';
  height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}

main {
  width: 100%;
  margin-bottom: 20px;
}

section {
  height: 100%;
  width: 1200px;
  margin: 0 auto;
}

section::after {
  content: ' ';
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}

.wrap1 {
  width: 200px;
  background-color: #feb81d;
}

.wrap2 {
  width: 800px;
  position: relative;
  left: 200px;
  background-color:  #1dfefe;
}

.wrap3 {
  width: 200px;
  position: relative;
  left: 800px;
  background-color: #feb81d;
}

.col1 {
  width: 200px;
  margin-right: -1000px;
  position: relative;
  left: -1000px;
  float: left;
}

.col2{
  width: 800px;
  margin-right: -800px;
  padding: 10px;
  position: relative;
  left: -800px;
  box-sizing: border-box;
  float: left;
}

.col2 > img {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.col3{
  width: 200px;
  overflow: hidden;
}

nav ul {
  list-style: none;
}

nav li {
  height: 30px;
  width: 120px;
  margin-bottom: 2px;
  display: inline-block;
  text-align: center;
  background-color: rgba(29,254,254,.2);
}

li a {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

li a:before {
  content: ' ';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

li a:hover {
  background-color: rgba(107,240,200,.84);
}

.news {
  width: 150px;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 2px solid #828282;
  border-radius: 5px;
}

.data-container {
  padding: 3px;
  text-align: center;
}

footer {
  width: 1200px;
  height: 60px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 30px;
  text-align: center;
  background-color: #25ff55;
}
