.main {
  width: 65%;
  margin: 0 auto;
  padding: 30px;
}

.photo-cell {
  border-right: 1px solid black;
}

.info-cell {
  max-width: 800px;
}

table {
  margin: 0 auto;
  margin-top: 20px;
  border: 1px solid red;
  border-radius: 7px;
}

tr {
  border-bottom: 1px solid black;
}

#preview {
	display: none;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(222, 222, 222, 0.1)
}

#preview img {
	display: block;
	margin: 0 auto;
	margin-top: 50px;
	max-height: 800px;
	max-width: 1200px;
}

.show-preview {
	display: block !important;
}