html, body {
  width: 100%;
  height:100%;
  margin: 0;
  padding: 0;
  position: relative;
  font-family: Helvetica, Arial, sans-serif;
  background-image: linear-gradient(to bottom, #d7baa3, #fff );
}

div {
  margin: 0;
  padding: 0;
}

header {
  width: 1200px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #535353;
}

header img, h1 {
  padding: 20px;
  float: left;
}

header::after {
  content: ' ';
  height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}

main {
  width: 100%;
  margin-bottom: 20px;
}

section {
  height: 100%;
  width: 1200px;
  margin: 0 auto;
}

section::after {
  content: ' ';
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}

.wrap {
  font-size: 0;
}

.col1 {
  width: 790px;
  margin-right: 10px;
  padding: 10px;
  display: inline-block;
  font-size: 1rem;
  box-sizing: border-box;
  background-color: #1dfefe;
}

.col1 > img {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.col2 {
  width: 390px;
  height: 500px;
  margin-left: 10px;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  font-size: 1rem;
  background-color: #feb81d;
}

nav ul {
  list-style: none;
}

nav li {
  height: 30px;
  width: 300px;
  margin-bottom: 2px;
  display: inline-block;
  text-align: center;
  background-color: rgba(29,254,254,.2);
}

li a {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

li a:before {
  content: ' ';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

li a:hover {
  background-color: rgba(107,240,200,.84);
}

footer {
  width: 1200px;
  height: 60px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 30px;
  text-align: center;
  background-color: #25ff55;
}
