/********fonts*****************/
@font-face{
  font-family:"CicleFina";
  src:url("../font/Cicle_Fina.eot?") format("eot"),url("../font/Cicle_Fina.woff") format("woff"),url("../font/Cicle_Fina.ttf") format("truetype"),url("../font/Cicle_Fina.svg#CicleFina") format("svg");
  font-weight:normal;
  font-style:normal;
}

@font-face{
  font-family:"HelveticaLT";
  src:url("../font/HelveticaLTStd-UltraComp.otf") format("opentype");
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family: "Bebas";
  src: url("../font/BEBAS___.eot?") format("eot"), url("../font/BEBAS___.woff") format("woff"), url("../font/BEBAS___.ttf") format("truetype"), url("../font/BEBAS___.svg#Bebas") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Colaborate";
  src: url("../font/ColabThi.eot?") format("eot"), url("../font/ColabThi.woff") format("woff"), url("../font/ColabThi.ttf") format("truetype"), url("../font/ColabThi.svg#Colaborate-Thin") format("svg");
  font-weight: normal;
  font-style: normal;
}

/********basic styles************/
html, body {
  height: 100%;
  font-family: 'Source Sans Pro', Arial, sans-serif;
}

body {
  max-width: 1044px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  background-image: url(../img/bg.png);
}

.main-header, .main-footer {
  min-height: 140px;
  flex-basis: 100%;
  background-color: white;
}

.main-header::after {
  content: '';
  height: 0;
  display: block;
  visibility: 0;
  clear: both;
}

.content {
  min-height: calc(100% - 280px);
  flex-basis: 100%;
}

nav {
  /*display: inline-block;*/
}

a {
  text-decoration: none;
  color: inherit;
}

.read-more-btn {
  height: 23px;
  width: 100px;
  margin-right: 5px;
  float: right;
  background-color: #faa61a;
  box-shadow: 1px 0 1px #fab94c;
}

.read-more-btn::after {
  content: '';
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}

.read-more-btn a {
  width: 100%;
  height: 100%;
  display: block;
}

.read-more-btn .btn-caption {
  height: 100%;
  margin: 0;
  padding: 0 3px;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  font-family: Colaborate;
  font-weight: 600;
  font-size: 14px;
  line-height: 25px;
  color: white;
  background-color: black;
}

.btn-caption::after {
  content: '\e800';
  display: block;
  position: absolute;
  left: 77px;
  top: -1px;
  font-family: fontello;
  font-style: normal;
  color: black;
}
/*****end of basic styles************/

.main-header {
  padding-top: 30px;
  box-sizing: border-box;
  background-color: inherit;
}

.logo {
  display: inline-block;
}

.logo::after {
  content: '';
  height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}

.logo img {
  float: left;
}

.logo h2 {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  float: right;
  font-size: 2rem;
}

.logo-word {
  margin-top: 20px;
  font-weight: normal;
  color: black;
}

.header-nav {
  padding-top: 35px;
  float: right;
}

.nav-list {
  margin: 0;
  margin-left: 20px;
  padding: 0;
  display: inline-block;
  position: relative;
  text-transform: uppercase;
}

.nav-list li {
  display: inline-block;
  padding-right: 30px;
  position: relative;
  font-family: CicleFina;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .8px;
}

.nav-list a:hover {
  border-bottom: 2px solid orange;
}

.nav-list li:hover:before {
  transition: transform .4s ease-in-out;
  transform: scale(3);
}

.nav-list li:last-child {
  padding-right: 0;
}

.header-nav li::before {
  transition: transform .4s ease-in-out;
  content: '\e800';
  display: block;
  position: absolute;
  left: -15px;
  bottom: 5px;
  font-family: fontello;
  font-style: normal;
  font-size: 8px;
  color: orange;
}


.banner {
  min-height: 200px;
  margin-bottom: 30px;
  padding: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #faa61a;
}

.banner h1 {
  margin: 0;
  padding: 0;
  flex-basis: 100%;
  text-align: center;
  font-family: HelveticaLT, sans-serif;
  font-size: 124px;
  font-weight: lighter;
  text-transform: uppercase;
  /***I used text-shadow for visual font smoothing **/
   text-shadow:-1px -1px 1px rgba(255,255,255,0.2),    1px 1px 1px rgba(255,255,255,0.2),    1px 1px 1px rgba(0,0,0,0.7);
   -webkit-font-smoothing: antialiased;
}

.video-box {
  position: relative;
}

.video-box video {
    cursor: pointer;
}

.video-box .play-btn {
  position: absolute;
  top: 150px;
  left: 210px;
  cursor: pointer;
}

.about-video-box {
  width: 200px;
  height: 364px;
  padding: 20px;
  float: right;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: black;
}

.about-video-box .title {
  padding: 0 3px;
  word-spacing: 2px;
  text-transform: uppercase;
  font-family: Bebas, sans-serif;
  color: black;
  font-weight: normal;
  background-color: white;
}

.about-video-box .info {
  padding-left: 5px;
  min-width: 100%;
  display: block;
  font-family: Colaborate, sans-serif;
  font-size: 20px;
  font-weight: 100;
  color: white;
}

.project-descr-info .info {
  font-size: 14px;
}

.project-descr-box {
  max-width: 280px;
  height: 364px;
  margin-left: 30px;
  background-color: white;
}

.project-descr-box h3 {
  margin: 0;
  padding: 3px 10px;
  font-family: Bebas;
  font-size: 20.18px;
}

.project-descr-box .descr-text {
  margin: 0;
  padding: 10px 16px;
  font-family: Colaborate;
  font-weight: bold;
  line-height: 22.01px;
}

.about-us {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  /*justify-content: space-around;*/
}

.about-box {
  padding: 20px 30px 50px 40px;
  position: relative;
  flex-basis: 1px;
  flex-grow: 2;
  border: 1px solid #ccc;
  border-left: none;
}

.about-box:last-child {
  border-right: none;
}

.about-box.did-you-know{
  flex-grow:3;
}

.contact-list {
  margin: 0;
  display: block;
  list-style: none;
}

.contact-list > li {
  display: inline-block;
  height: 30px;
}

.contact-list span {
  margin: 1px;
  padding: 2px;
  color: white;
  background-color: black;
}

.contact-list li[class*="icon"]:before {
  font-size: 1.7rem;
}

li.address span {
  display: inline-block;
}

.addr1 {
  /*margin-right: 20px;*/
}

.addr2 {
  margin-left: 100px;
  /*padding-left: 110px;*/
  /*margin-right: 40px;*/
}

.addr3 {
  width: 70%;
}
